<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="EN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>

<div class="container">

    <form action="#" th:action="@{/actor}" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-3">
                <input type="text" name="firstName" class="form-control" placeholder="Имя">
            </div>
            <div class="form-group col-md-3">
                <input type="text" name="lastName" class="form-control" placeholder="Фамилия">
            </div>
            <div class="form-group col-md-3">
                <input type="text" name="description" class="form-control" placeholder="Описание">
            </div>
        </div>
        <button type="submit" class="btn btn-success">добавить актера</button>
    </form>
</div>

</body>
</html>