<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">

<head th:replace="adminPanel/blocks/adminHeader.html :: head"></head>
<body>
<div th:replace="adminPanel/blocks/adminHeader.html:: header"></div>


<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Это простой пример блока с компонентом в стиле jumbotron для привлечения дополнительного внимания к содержанию или информации.</p>
    <hr class="my-4">
    <p>Использются служебные классы для типографики и расстояния содержимого в контейнере большего размера.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>


<footer th:replace="adminPanel/blocks/adminFooter.html :: footer"></footer>
</body>
</html>