<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">

<div th:fragment="footer" class="footer">
    <div class="on-wide-desktop on-desktop on-wide-tablet">
        <div class="footer__row footer__row_space-between">
            <div class="footer__cell footer__cell_first">
                <div class="footer__row footer__row--logo footer__row_space-between">
                    <a href="/kinozen">
                        <img th:src="@{/images/log.png}"/>
                    </a>

                </div>
                <div class="footer__copyright">
                    <div class="footer__copyright-text">work on progress</div>
                    <div class="footer__copyright-text">
                        <div class="footer__copyright-textpart">Kinozen</div>
                    </div>
                </div>
            </div>
            <div class="footer__cell footer__cell_second">
                <div class="footer__menu">
                    <a class="footer__menu-link" href="/kinozen/content">Сериалы</a>
                    <a class="footer__menu-link" href="#">Фильмы</a>
                    <a class="footer__menu-link" href="#">Коллекции</a>
                    <a class="footer__menu-link" href="#">Поиск</a>
                </div>
                <div class="footer__service-menu">
<!--                    <a class="footer__service-menu-item" href="#">Пользовательское-->
<!--                        соглашение</a>-->
<!--                    <a class="footer__service-menu-item" href="#">FAQ</a>-->
<!--                    <a class="footer__service-menu-item" href="#">Контакты</a>-->
                </div>
<!--                <div class="footer__app-menu">-->
<!--                    <a href="#" target="_blank" class="footer__app-menu-item">-->
<!--                        <img th:src="@{/images/appstore.png}" class="footer__app-menu-icon"/>-->
<!--                    </a>-->
<!--                    <a href="#" target="_blank" class="footer__app-menu-item">-->
<!--                        <img th:src="@{/images/goolestore.png}" class="footer__app-menu-icon"/>-->
<!--                    </a>-->
<!--                </div>-->
            </div>

            <div class="footer__cell footer__cell_therd">
<!--                <div class="footer__social">-->
<!--                    <a href="#" target="_blank" class="footer__social-item">-->
<!--                        <img src="" class="footer__social-icon"/>-->
<!--                    </a>-->
<!--                    <a href="#" target="_blank" class="footer__social-item">-->
<!--                        <img src="" class="footer__social-icon"/>-->
<!--                    </a>-->
<!--                    <a href="#" target="_blank" class="footer__social-item">-->
<!--                        <img src="" class="footer__social-icon"/>-->
<!--                    </a>-->
<!--                    <a href="#" target="_blank" class="footer__social-item">-->
<!--                        <img src="" class="footer__social-icon"/>-->
<!--                    </a>-->
<!--                    <a href="#" target="_blank" class="footer__social-item">-->
<!--                        <img src="" class="footer__social-icon"/>-->
<!--                    </a>-->
<!--                    <a href="#" target="_blank" class="footer__social-item">-->
<!--                        <img src="" class="footer__social-icon"/>-->
<!--                    </a>-->
<!--                    <a href="#" target="_blank" class="footer__social-item">-->
<!--                        <img src="" class="footer__social-icon"/>-->
<!--                    </a>-->
<!--                </div>-->
                <div class="footer__phone"><span
                        class="footer__phone-label">Блок для:</span><span
                        class="footer__phone-text">текста или телефона</span></div>
            </div>
        </div>
    </div>
</div>