<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">

<div th:fragment="footer" class="footer">
    <div class="on-wide-desktop on-desktop on-wide-tablet">
        <div class="footer__row footer__row_space-between">
            <div class="footer__cell footer__cell_first">
                <div class="footer__row footer__row--logo footer__row_space-between">
                    <a href="/kinozen">
                        <img th:src="@{/images/log.png}"/>
                    </a>
                </div>
                <div class="footer__copyright">
                    <div class="footer__copyright-text">work on progress</div>
                    <div class="footer__copyright-text">
                        <div class="footer__copyright-textpart">Kinozen</div>
                    </div>
                </div>
            </div>
            <div class="footer__cell footer__cell_second">
                <div class="footer__menu">
                    <a class="footer__menu-link" href="/kinozen/content/serial">Сериалы</a>
                    <a class="footer__menu-link" href="/kinozen/content/films">Фильмы</a>
                    <a class="footer__menu-link" href="/kinozen/profile/wishlist">Буду смотреть</a>
                    <a class="footer__menu-link" href="#">Поиск</a>
                </div>
                <div class="footer__service-menu">
                </div>
            </div>
            <div class="footer__cell footer__cell_therd">
                <div class="footer__phone"><span
                        class="footer__phone-label">Блок для:</span><span
                        class="footer__phone-text">текста или телефона</span></div>
            </div>
        </div>
    </div>
</div>