<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU"
      taglib prefix="sec" uri="http://www.springframework.org/security/tags">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/style_1.css}"/>
    <link rel="stylesheet" th:href="@{/css/style_2.css}"/>
</head>

<div th:fragment="menu" class="menu">
    <div class="menu__content desktop">
        <div class="menu__content-wrapper">
            <a class="menu__item menu__logo" style="font-family: 'origami_making'; font-size: 24px" th:href="@{'/'}">
                <span>KinoZen</span>
            </a>
            <a href="/kinozen/content/serial" class="menu__item menu__item--link">Сериалы</a>
            <a href="/kinozen/content/films" class="menu__item menu__item--link">Фильмы</a>
            <a href="/kinozen/profile/wishlist" class="menu__item menu__item--link">Буду смотреть</a>
            <a href="#" class="menu__item menu__search">
                <img th:src="@{/images/search-icon.png}"/><span>Поиск</span></a>
        </div>
        <div sec:authorize="!isAuthenticated ()" class="menu__content-wrapper">
            <a class="menu__sign button" href="/kinozen/login">Войти</a>
            <a class="menu__register button-primary" href="/kinozen/registration">Зарегистрироваться</a>
        </div>
        <div sec:authorize="isAuthenticated ()" class="menu__content-wrapper">
            <a class="menu__sign button" href="/kinozen/profile" th:text="${#authentication.name}"></a>
            <form th:action="@{/logout}" method="post">
                <button class=" menu__register button-primary">Выход</button>
            </form>
        </div>
    </div>
</div>
