<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">

<div th:fragment="header_login_reg" class="header_login_reg">
    <a class="registration__content-logo" href="/kinozen">
        <img th:src="@{/images/log.png}" src="../static/images/log.png" class="registration__content-logo-img"/>
    </a>
    <a class="registration__close" href="/kinozen">
        <img th:src="@{images/close.png}" src="images/close.png">
    </a>
</div>
