<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">

<div th:fragment="registration__footer" class="registration__footer">
    <div class="registration__footer-wrapper">
        <a class="registration__footer-logo" href="/">
            <img th:src="@{/images/log.png}"width="200"/>
        </a>
        <div class="registration__footer-age">
            <div class="registration__footer-age_img">
            </div>
            <div class="registration__footer-age_text">
                            <span>Все права защищены<br/>© ООО &quot;Kinozen&quot;,
                                2020<br/>© 2020 бла бла бла бла...... .</span>
            </div>
        </div>
        <div class="registration__footer-social">
            <div class="registration__footer-social_icons">
                <div class="registration__footer-icon registration__footer-tg">
                    <a target="_blank" href="#"></a>
                </div>
                <div class="registration__footer-icon registration__footer-vk">
                    <a target="_blank" href="#"></a>
                </div>
                <div class="registration__footer-icon registration__footer-fb">
                    <a target="_blank" href="#"></a>
                </div>
                <div class="registration__footer-icon registration__footer-ok">
                    <a target="_blank" href="#"></a>
                    <div class="registration__footer-icon registration__footer-tw">
                        <a target="_blank" href="#"></a>
                    </div>
                    <div class="registration__footer-icon registration__footer-yo">
                        <a target="_blank" href="#"></a>
                    </div>
                    <div class="registration__footer-icon registration__footer-ze">
                        <a target="_blank" href="#"></a>
                    </div>
                </div>
                <div class="registration__footer-social_support"><span>Поддержка:</span> 0 000 000 000 0</div>
            </div>
        </div>
    </div>
</div>