<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">
<head>
    <title>[[ ${content.name} ]]</title>
    <head th:replace="blocks/header.html :: head"></head>
</head>
<body class="custom_class">

<!--<span th:text="${content.visible}"></span><br>
<span th:text="${content.name}"></span><br>
<span th:text="${#dates.format(content.released, 'dd-MM-yyyy')}"></span><br>
<span th:text="${content.description}"></span><br>
<span th:text="${content.url}"></span><br>
<b>Жанры:</b>
<tr th:each="g, iterator : ${content.genres}">
    <td th:text="${g.name}"></td>
</tr>-->
<div id="__next">
    <div class="wrapper">
        <div class="wrapper">
            <head th:replace="blocks/header.html :: menu"></head>
            <div class="content ">
                <div class="movie" itemscope="" itemtype="">
                    <div class="movie__wrapper">
                        <div class="movie__bg">
                            <img th:src="@{/images/d781b63575af29fb87c066e933ec10b7-10934-50ec73dd18914659b88afadcb0d99dcb.jpg}"
                                 class="movie__bg-image" th:alt="${content.name}"
                                 style="transform: translate3d(0px, 0%, 0px);">
                            <div class="movie__bg-shade"></div>
                            <div class="movie__left-shade"></div>
                            <div class="movie__header">
                                <div class="breadcrumbs">
                                    <div class="breadcrumbs__item">
                                        <a class="breadcrumbs__href" href="/kinozen">Главная</a>&nbsp;/&nbsp;
                                    </div>
                                    <div class="breadcrumbs__item">
                                        <a class="breadcrumbs__href" href="/kinozen/content">Сериалы</a>&nbsp;/&nbsp;
                                    </div>
                                    <div class="breadcrumbs__item" th:text="${content.name}"></div>
                                </div>
                                <div class="movie__logo">
                                    <span th:text="${content.name}"></span>
                                    <span th:if="${currentSeason != null}"
                                          th:text="'| Cезон ' + ${currentSeason.numberSeason}"></span>
                                </div>
                                <div class="movie__original-title">
                                </div>

                                <div>
                                    <H3>Описание
                                        <span th:if="${currentSeason != null}" th:text="'сезона:'"></span>
                                        <span th:unless="${currentSeason != null}">
                                            <span th:if="${content.type.ordinal() == 0}" th:text="'сериала:'"></span>
                                            <span th:if="${content.type.ordinal() == 1}" th:text="'фильма:'"></span>
                                        </span>

                                    </H3>
                                    <br>
                                    <span th:text="${description}"></span>
                                </div>
                                <br>

                                <div>
                                    <H3>Рейтинг:</H3>
                                    <br>
                                    <div>
                                        <span th:if="${content.likes.size() == 0}">Пока никто не оценил этот контент</span>
                                        <span th:if="${content.likes.size() > 0}"
                                              th:text="'Понравилось: ' + ${content.likes.size()}"></span>
                                    </div>
                                    <div sec:authorize="isAuthenticated()">
                                        <form th:action="@{'/content/like/' + ${content.url}}" method="post">
                                            <button type="submit">нравится</button>
                                        </form>
                                    </div>
                                </div>
                                <br>

                                <div class="movie__seasons">
                                    <div class="movie__seasons-title">Сезоны:</div>
                                    <div class="movie__seasons-items">

                                        <a class="movie__seasons-item"
                                           th:each="s, iterator : ${seasons}"
                                           th:href="@{'/content/' + ${content.url} + '/' + ${s.url}}"
                                           th:text="${s.numberSeason}">
                                        </a>
                                    </div>
                                </div>

                                <br>

                                <div th:if="${episodes != null}">
                                    <form th:action="@{''}" method="get">
                                        <select name="episode">
                                            <option th:text="'Выберите серию'" th:value="null"></option>
                                            <!--suppress ThymeleafVariablesResolveInspection -->
                                            <option th:each="e : ${episodes}"
                                                    th:value="${e.numberEpisode}"
                                                    th:text="${e.numberEpisode}+ '. ' + ${e.name}">
                                            </option>
                                        </select>
                                        <button type="submit">применить</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="movie__content">
                            <div class="movie__title">
                                <div class="movie__title-elem movie__title-buttons">

                                </div>
                                <div class="movie__title-elem movie__title-text ">
                                    <h1 itemprop="name"></h1>
                                </div>
                            </div>

                            <H3 th:if="${currentEpisode != null}" style="margin-bottom: 10px">
                                <span th:text="'Эпизод ' + ${currentEpisode.numberEpisode} + '. ' + ${currentEpisode.name}"></span>
                            </H3>

                            <div th:if="${idEntity != null}">
                                <div class="movie__playVideo" style="margin-bottom: 50px">
                                    <video controls width="850" height="440">
                                        <source th:src="@{/player/video/{id}(id=${idEntity})}"
                                                type="video/mp4">
                                    </video>
                                </div>
                            </div>

                            <!--                            <div class="movie__description">-->

                            <!--                                <div class="movie__description-data ">-->
                            <!--                                    <div class="">-->
                            <!--                                        <div class="movie__description-data_text">-->
                            <!--                                            <span itemprop="description" th:text="${content.description}"></span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="description-persons movie__data-wrapper">-->
                            <!--                                            <div class="movie__data-col movie__data-col_title">Жанр:</div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_content">-->
                            <!--                                                <div th:each="g, iterator : ${content.genres}">-->
                            <!--                                                    <span itemprop="director" th:text="${g.getName()}"></span>-->
                            <!--                                                </div>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_title">Режиссеры:</div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_content">-->
                            <!--                                                <div th:each="d, iterator : ${content.directors}">-->
                            <!--                                                    <span itemprop="director"-->
                            <!--                                                          th:text="${d.firstName + ' ' + d.lastName}"></span>-->
                            <!--                                                </div>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_title">В ролях:</div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_content">-->
                            <!--                                                <div th:each="a, iterator : ${content.actors}">-->
                            <!--                                                    <span itemprop="actor"-->
                            <!--                                                          th:text="${a.firstName + ' ' + a.lastName}"></span>-->
                            <!--                                                </div>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_title">Страна:</div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_content">-->
                            <!--                                                <div>-->
                            <!--                                                    <span itemprop="countryOfOrigin"></span>-->
                            <!--                                                </div>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_title">Производство:</div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_content">-->
                            <!--                                                <span itemprop="productionCompany"></span>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_title">Примьеры:</div>-->
                            <!--                                            <div class="movie__data-col movie__data-col_content">-->
                            <!--                                                <span itemprop="productionCompany"-->
                            <!--                                                      th:text="${#dates.format(content.released, 'dd-MM-yyyy')}"></span>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <!--                            <div class="movie__recommendations">-->
                            <!--                                <div class="movie__recommendations-title">Вам понравится</div>-->
                            <!--                                <div class="video-line" type="editors">-->
                            <!--                                    <div class="swiper-container swiper-container-initialized swiper-container-horizontal">-->
                            <!--                                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">-->
                            <!--                                            <div class="swiper-slide video-line__item swiper-slide-active"-->
                            <!--                                                 style="width: 372.833px; margin-right: 20px;">-->
                            <!--                                                <a class="card-item card-item-editors">-->
                            <!--                                                    <div class="card-item__image">-->
                            <!--                                                        <div class="card-item__image-img" data-lazy-loaded=""></div>-->
                            <!--                                                    </div>-->
                            <!--                                                    <div class="card-item__title"></div>-->
                            <!--                                                </a>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="swiper-button-next swiper-button-disabled" tabindex="0"-->
                            <!--                                             role="button" aria-label="Next slide" aria-disabled="true">-->
                            <!--                                            <div class="swiper-button-next-arrow"></div>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="swiper-button-prev swiper-button-disabled" tabindex="0"-->
                            <!--                                             role="button" aria-label="Previous slide" aria-disabled="true">-->
                            <!--                                            <div class="swiper-button-prev-arrow"></div>-->
                            <!--                                        </div>-->
                            <!--                                        <span class="swiper-notification" aria-live="assertive"-->
                            <!--                                              aria-atomic="true"></span>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <head th:replace="blocks/footer.html :: footer"></head>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>