<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">
<head>
    <head th:replace="blocks/header.html :: head"></head>
    <title>Все сериалы</title>
</head>
<body class="custom_class">
<div id="__next">
    <div class="wrapper">
        <div class="wrapper">
            <head th:replace="blocks/header.html :: menu"></head>
            <div class="content ">
                <div class="catalogue overflow">
                    <div class="catalogue__header">
                        <div class="breadcrumbs">
                            <div class="breadcrumbs__item">
                                <a class="breadcrumbs__href" href="/kinozen">Главная</a> /
                            </div>
<!--                            <div th:if="${#request.getContextPath() == 'serial'}" class="breadcrumbs__item">Сериалы</div>-->
<!--                            <div th:if="${#request.getContextPath() == 'films'}" class="breadcrumbs__item">Фильмы</div>-->
                        </div>
                        <h1>Сериалы онлайн</h1>
                        <div class="catalogue__seo-description">.</div>
                        <div>
                            <div class="catalogue-filter">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="catalogue__wrapper">
                            <a th:each="content, iterator : ${contentList}" class="card-item card-item-series" th:href="@{'/content/' + ${content.url}}">
                                <div class="card-item__image" th:href="${content.getUrl()}">
                                    <div th:data-lazy="${content.visible}" class="card-item__image-img">
                                        <img th:src="@{'/image/content/' + ${content.imageName}}"
                                             th:alt="${content.name}"/>
                                    </div>
                                </div>
                                <div class="card-item__title" th:text="${content.name}"></div>
                            </a>
                        </div>

                        <button as="button" class="btn btn_primary">Загрузить еще</button>
                    </div>
                </div>
            </div>
            <head th:replace="blocks/footer.html :: footer"></head>
        </div>
    </div>
</div>
</body>
</html>