<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">

<head th:replace="blocks/header.html :: head">
    <title> [[ ${content.name} ]]</title></head>
<!--<body>
<span th:text="${content.visible}"></span><br>
<span th:text="${content.name}"></span><br>
<span th:text="${#dates.format(content.released, 'dd-MM-yyyy')}"></span><br>
<span th:text="${content.description}"></span><br>
<span th:text="${content.url}"></span><br>

<tr th:each="g, iterator : ${content.genres}">
    <td th:text="${g.name}"></td>
</tr>

<br>

<video controls width="640" height="264">
    <source src="http://localhost:8181/playerzen/video/serial/598f17ce-5526-4e11-bb4f-080840f53b8f" type="video/mp4">
</video>
</body>-->

<body class="custom_class">
<div id="__next">
    <div class="wrapper">
        <div class="wrapper">
            <head th:replace="blocks/header.html :: menu"></head>
            <div class="content ">
                <div class="movie" itemscope="" itemtype="">
                    <div class="movie__wrapper">
                        <div class="movie__bg">
                            <img src="image/d781b63575af29fb87c066e933ec10b7-10934-50ec73dd18914659b88afadcb0d99dcb.jpg"
                                 class="movie__bg-image" alt="Игра престолов"
                                 style="transform: translate3d(0px, 0%, 0px);">
                            <div class="movie__bg-shade"></div>
                            <div class="movie__left-shade"></div>
                            <div class="movie__header">
                                <div class="breadcrumbs">
                                    <div class="breadcrumbs__item">
                                        <a class="breadcrumbs__href" href="/kinozen">Главная</a>&nbsp;/&nbsp;
                                    </div>
                                    <div class="breadcrumbs__item">
                                        <a class="breadcrumbs__href" href="#">Сериалы</a>&nbsp;/&nbsp;
                                    </div>
                                    <div class="breadcrumbs__item">
                                        <a class="breadcrumbs__href" href="#">Драмы</a>&nbsp;/&nbsp;
                                    </div>
                                    <div class="breadcrumbs__item">th:text="${content.name}"</div>
                                </div>
                                <div class="movie__logo">
                                    <img src="" alt="Игра престолов">
                                </div>
                                <div class="movie__original-title">
                                    <div class="movie__original-title_text">Game of Thrones</div>
                                    <div class="movie__original-title_image"><img src="" alt="Игра престолов"></div>
                                </div>
                                <div class="movie__seasons">
                                    <div class="movie__seasons-title">Сезоны:</div>
                                    <div class="movie__seasons-items"><a class="movie__seasons-item" href="#">1</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="movie__content">
                            <div class="movie__title">
                                <div class="movie__title-elem movie__title-buttons">
                                    <div class="movie__play">
                                        <div class="play-button movie__play-button">
                                            <div class="play-button__icon">
                                                <img th:src="@{images/play.png}" src="../static/images/play.png">
                                            </div>
                                            <div class="play-button__text">
                                                <div class="play-button__title">Смотреть</div>
                                                <div class="play-button__plain">1 сезон 1 серия</div>
                                            </div>
                                        </div>
                                        <div class="movie__play-favorites movie__play-mind">
                                            <div class="movie__play-favorites_img">
                                                <img th:src="@{images/play.png}" src="../static/images/play.png">
                                            </div>
                                            <div class="movie__play-text">В избранное</div>
                                        </div>
                                        <div class="vote">
                                            <div class="movie__play-vote movie__play-mind">
                                                <div class="movie__play-vote_img"><img
                                                        src="">
                                                </div>
                                                <div class="movie__play-text movie__play-text">Оценить</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie__title-elem movie__title-text ">
                                    <h1 itemprop="name">Игра престолов сериал смотреть онлайн</h1>
                                </div>
                            </div>
                            <div class="movie__description">
                                <div class="movie__description-trailer">
                                    <div class="movie__description-trailer_header">
                                        <div class="movie__description-trailer_title">Трейлер сериала Игра престолов
                                        </div>
                                    </div>
                                    <div class="movie__description-trailer_video"><img
                                            src="image/36df9540a5ef4996a9737657e4a8929c-14-b26aa52440934305ba93be07a1b05a6b.jpg"
                                            class="movie__description-trailer_image" alt="Игра престолов трейлер">
                                        <div class="movie__description-trailer_desciption">
                                            <div class="movie__description-trailer_desciption-title"></div>
                                            <div class="movie__description-trailer_desciption-duration">00:51</div>
                                        </div>
                                        <img src="" class="movie__description-trailer_play">
                                    </div>
                                </div>
                                <div class="movie__description-data ">
                                    <div class="movie__description-data_header">
                                        <div class="movie__description-rating">
                                            <div class="movie__description-rating_item">
                                                <img src="" class="movie__description-rating_a">
                                                <div class="movie__description-rating_text">10.0</div>
                                            </div>
                                            <div class="movie__description-rating_item">
                                                <img src="" class="movie__description-rating_i">
                                                <div class="movie__description-rating_text">9.4</div>
                                            </div>
                                            <div class="movie__description-rating_item">
                                                <img src="" class="movie__description-rating_k">
                                                <div class="movie__description-rating_text">9.0</div>
                                            </div>
                                        </div>
                                        <div class="movie__description-additional">
                                            <div class="movie__description-additional_item"
                                                 itemprop="datePublished">2011
                                            </div>
                                            <div class="movie__description-additional_item"
                                                 itemprop="contentRating">18+
                                            </div>
                                            <div class="movie__description-additional_item" itemprop="genre">Драмы
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="movie__description-data_text"><span
                                                itemprop="description">th:text="${content.description}</span></div>
                                        <div class="description-persons movie__data-wrapper">
                                            <div class="movie__data-col movie__data-col_title">Режиссеры:</div>
                                            <div class="movie__data-col movie__data-col_content"><span
                                                    itemprop="director">Алан Тейлор</span>, <span
                                                    itemprop="director">Даниэль Минахан</span>, <span
                                                    itemprop="director">Дэвид Наттер</span></div>
                                            <div class="movie__data-col movie__data-col_title">В ролях:</div>
                                            <div class="movie__data-col movie__data-col_content"><span
                                                    itemprop="actor">Шон Бин</span>, <span itemprop="actor">Питер
                                                        Динклэйдж</span>, <span itemprop="actor">Эмилия Кларк</span>,
                                                <span itemprop="actor">Лина Хиди</span>, <span
                                                        itemprop="actor">Николай Костер-Вальдау</span>, <span
                                                        itemprop="actor">Кит Харингтон</span>, <span
                                                        itemprop="actor">Айэйн Глен</span>, <span
                                                        itemprop="actor">Мишель Фэйрли</span>, <span
                                                        itemprop="actor">Эйден Гиллен</span>, <span
                                                        itemprop="actor">Марк Эдди</span>, <span itemprop="actor">Элфи
                                                        Оуэн-Аллен</span>, <span itemprop="actor">Джек Глисон</span>,
                                                <span itemprop="actor">Джейсон Момоа</span>, <span
                                                        itemprop="actor">Софи Тернер</span>, <span
                                                        itemprop="actor">Мэйси Уильямс</span>, <span
                                                        itemprop="actor">Исаак Хемпстид-Райт</span></div>
                                            <div class="movie__data-col movie__data-col_title">Страна:</div>
                                            <div class="movie__data-col movie__data-col_content"><span
                                                    itemprop="countryOfOrigin">США</span>, <span
                                                    itemprop="countryOfOrigin">Великобритания</span></div>
                                            <div class="movie__data-col movie__data-col_title">Производство:</div>
                                            <div class="movie__data-col movie__data-col_content"><span
                                                    itemprop="productionCompany">HBO</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="movie__episodes">
                                <div class="movie__episodes-item">
                                    <div class="movie__episodes-title">Сезон 1</div>
                                    <div class="video-line" type="episodes">
                                        <div
                                                class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                            <div class="swiper-wrapper"
                                                 style="transform: translate3d(0px, 0px, 0px);">
                                                <div class="swiper-slide video-line__item swiper-slide-active"
                                                     style="width: 372.833px; margin-right: 20px;">
                                                    <a class="card-item card-item-episodes" itemscope="" itemtype=""
                                                       itemprop="episode">
                                                        <div class="card-item__image">
                                                            <img th:src="@{images/play.png}" src="../static/images/play.png" class="card-item__play card-item__always">
                                                            <picture class="card-item__image-img" data-lazy-loaded="">
                                                                <img alt="" src="">
                                                            </picture>
                                                            <div class="card-item__current">
                                                                <div class="card-item__current-number"
                                                                     itemprop="episodeNumber">1
                                                                </div>
                                                                <div class="card-item__current-duration">59:04</div>
                                                            </div>
                                                        </div>
                                                        <div class="card-item__title" itemprop="name">Зима близко</div>
                                                        <div class="card-item__title-subtitle">Winter Is Coming</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-button-next" tabindex="0" role="button"
                                                 aria-label="Next slide" aria-disabled="false">
                                                <div class="swiper-button-next-arrow"></div>
                                            </div>
                                            <div class="swiper-button-prev swiper-button-disabled" tabindex="0"
                                                 role="button" aria-label="Previous slide" aria-disabled="true">
                                                <div class="swiper-button-prev-arrow"></div>
                                            </div>
                                            <span class="swiper-notification" aria-live="assertive"
                                                  aria-atomic="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="movie__recommendations">
                                <div class="movie__recommendations-title">Вам понравится</div>
                                <div class="video-line" type="editors">
                                    <div
                                            class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                            <div class="swiper-slide video-line__item swiper-slide-active"
                                                 style="width: 372.833px; margin-right: 20px;"><a
                                                    class="card-item card-item-editors">
                                                <div class="card-item__image">
                                                    <div class="card-item__image-img" data-lazy-loaded="">
                                                    </div>
                                                </div>
                                                <div class="card-item__title">Борджиа</div>
                                            </a></div>
                                            <div class="swiper-slide video-line__item swiper-slide-next"
                                                 style="width: 372.833px; margin-right: 20px;"><a
                                                    class="card-item card-item-editors">
                                                <div class="card-item__image">
                                                    <div class="card-item__image-img" data-lazy-loaded="">

                                                    </div>
                                                </div>
                                                <div class="card-item__title">Викинги</div>
                                            </a></div>
                                            <div class="swiper-slide video-line__item"
                                                 style="width: 372.833px; margin-right: 20px;"><a
                                                    class="card-item card-item-editors">
                                                <div class="card-item__image">
                                                    <div class="card-item__image-img" data-lazy-loaded="">
                                                    </div>
                                                </div>
                                                <div class="card-item__title">Рим</div>
                                            </a></div>
                                            <div class="swiper-slide video-line__item"
                                                 style="width: 372.833px; margin-right: 20px;"><a
                                                    class="card-item card-item-editors">
                                                <div class="card-item__image">
                                                    <div class="card-item__image-img" data-lazy-loaded="">
                                                    </div>
                                                </div>
                                                <div class="card-item__title">Мир Дикого Запада</div>
                                            </a></div>
                                        </div>
                                        <div class="swiper-button-next swiper-button-disabled" tabindex="0"
                                             role="button" aria-label="Next slide" aria-disabled="true">
                                            <div class="swiper-button-next-arrow"></div>
                                        </div>
                                        <div class="swiper-button-prev swiper-button-disabled" tabindex="0"
                                             role="button" aria-label="Previous slide" aria-disabled="true">
                                            <div class="swiper-button-prev-arrow"></div>
                                        </div>
                                        <span class="swiper-notification" aria-live="assertive"
                                              aria-atomic="true"></span>
                                    </div>
                                </div>
                            </div>
                            <head th:replace="blocks/footer.html :: footer"></head>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>