<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">

<head th:replace="blocks/header2.html :: head"></head>
<body>
<div th:replace="blocks/header2.html:: header"></div>

<div class="container">
    <h1 class="mt-4 mb-4 text-white display-4">
        <span th:text="${typeName}"></span>
        <span th:if="${selectedGenre} != null" style="font-size: 20px" class="text-white-50" th:text="'| ' +${selectedGenre}"></span>
    </h1>


    <!-- todo breadcrumb  начало-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">todo</li>
        </ol>
    </nav>
    <!-- todo breadcrumb конец-->


    <ul class="list-inline pl-3 pr-3">
        <!--/*@thymesVar id="g" type="ru.gbjava.kinozen.dto.GenreDto"*/-->
        <a class="list-inline-item badge badge-pill mt-2 font-weight-normal" style="background-color: #444;color: #bbb;" th:each="g, iterator : ${genres}"
           th:href="@{'?genre='  + ${g.id}}" th:text="${g.name}"></a>
    </ul>

    <!-- content начало-->
    <div class="flex-wrap d-flex align-items-start">
        <!--/*@thymesVar id="content" type="ru.gbjava.kinozen.dto.ContentDto"*/-->
        <a th:href="@{'/content/' + ${content.url}}" class="m-3" style="width: 15rem;"
           th:each="content: ${contentList}">
            <img th:src="@{'/images/misc/no_image.png'}" th:if="${content.imageName == null}"
                 th:alt="${content.imageName}" class="card-img-top">
            <img th:src="@{'/image/content/' + ${content.imageName}}" th:if="${content.imageName != null}"
                 th:alt="${content.imageName}" class="card-img-top rounded image-normalize" style="height: 150px;">
            <div class="">
                <div class="mt-2 text-white-50" th:text="${content.name}"></div>
            </div>
        </a>
    </div>
    <!-- content конец-->

</div>
<footer th:replace="blocks/footer2.html :: footer"></footer>
</body>
</html>