<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="RU">
<head>
    <meta charset="UTF-8">
    <title>Director page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    [[ ${director.getFirstName()} ]]
    [[ ${director.getLastName()} ]]
    [[ ${director.getDescription()} ]]
    <br>

    <table class="table table-hover">
        <tr th:each="content, iterator : ${director.contents}">
            <td th:text="${iterator.index + 1}"></td>
            <td>
                <a th:href="@{'/content/' + ${content.url}}">[[ ${content.getName()} ]]</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>