<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Страница режиссера</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

<div>
    <p>Информация о режиссере</p>
</div>

<div>
    <p th:text="${director.firstnameDirector} + ' ' + ${director.lastnameDirector}"/>
</div>

<div>
   <p th:text="${director.descriptionDirector}"/>
</div>

<div th:each="m : ${director.media}">
  <p  th:text="${m.nameMedia} "/>
  <br />
</div>

<a  th:href="@{'/directors/edit/' + ${director.idDirector}}" class="btn btn-warning">Edit</a>

</body>
</html>