<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">
<head>
    <meta charset="UTF-8">
    <title>[[ ${genre.name} ]]</title>
</head>
<body>


<table>
    <thead>
    <tr>
        <th>[[ ${genre.name} ]]</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c, iterator : ${genre.contents}">
        <td>
            <a th:href="@{'/content/' + ${c.url}}">[[ ${c.name} ]]</a>
        </td>
    </tr>
    </tbody>
</table>

<div sec:authorize="isAuthenticated()">
    <form th:unless="${isUserSubscribedToGenre}" th:action="@{'/genre/subscribe/' + ${genre.url}}" method="post" class="btn btn-warning">
        <button th:type="submit">подписаться</button>
    </form>
    <form th:if="${isUserSubscribedToGenre}" th:action="@{'/genre/subscribe/' + ${genre.url}}"  method="post" class="btn btn-danger">
        <button th:type="submit">отписаться</button>
    </form>
</div>
</div>

</body>
</html>