<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">
<head>
    <meta charset="UTF-8">
    <title>Все жанры</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="g, iterator : ${genres}">
        <td th:text="${g.id}"></td>
        <td>
            <a th:href="@{'/genre/' + ${g.url}}">[[ ${g.name} ]]</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{'/genre/?param=re'}">Сгенерировать url всем сущностям</a>
</body>
</html>