<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Авторизация</title>
    <head th:replace="blocks/header.html :: head"></head>
</head>
<body class="custom_class">
<div id="__next">
    <div class="registration" style="background-color: black">
        <a class="registration__content-logo" href="/kinozen">
            <img th:src="@{/images/log.png}" class="registration__content-logo-img"/>
        </a>
        <a class="registration__close" href="/kinozen">
            <img th:src="@{images/close.png}" src="images/close.png">
        </a>
        <div class="registration__content">
            <div class="registration__content-title">Вход в аккаунт</div>
            <div class="registration__form-title">Войдите для доступа к подписке и списку избранного</div>
            <div class="registration__form">
                <div class="registration__form-content">
                    <div class="registration__form-switcher">
                        <div class="registration__form-switcher_item active">E-mail</div>
                        <div class="registration__form-switcher_item ">Телефон</div>
                    </div>
                    <form>
                        <div class="registration__form-inputs" th:action="@{/authenticateTheUser}">
                            <div class="registration__form-input_wrapper">
                                <input type="email" value="" class="registration__form-input" placeholder="E-mail"/>
                            </div>
                            <div class="registration__form-input_wrapper">
                                <input type="password" value="" class="registration__form-input" placeholder="Пароль"/>
                                <div class="registration__eye">
                                    <img src="" class="registration__eye-img"/>
                                </div>
                            </div>
                        </div>
                        <div class="registration__form-forgot">Забыли пароль?</div>
                        <div>

                        </div>
                        <button class="registration__form-button active ">Войти</button>
                    </form>
                    <div class="registration__social">
                        <div class="registration__social-title">Или войдите с помощью социальных сетей</div>
                        <div class="registration__social-wrapper">
                            <div class="registration__social-item">
                                    <span style="transition:opacity 0.5s;opacity:0.6">
                                        <button type="button" class="registration__social-img metro">
                                            <img src=""/>
                                        </button>
                                    </span>
                            </div>
                            <div class="registration__social-item">
                                <img src="" class="registration__social-img"/></div>
                            <div class="registration__social-item">
                                <img src="" class="registration__social-img"/></div>
                            <div class="registration__social-item">
                                <img src="" class="registration__social-img"/></div>
                            <div class="registration__social-item">
                                <img src="" class="registration__social-img"/></div>
                        </div>
                    </div>
                    <div class="registration__no-account">Ещё нет аккаунта?
                        <a class="registration__no-account_link" href="#">Зарегистрируйтесь!</a>
                    </div>
                </div>
            </div>
        </div>
        <head th:replace="blocks/registration_footer.html :: registration__footer"></head>
    </div>
</div>
<script src="js/js_1.js"></script>
</body>

</html>