<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">
<head>
    <meta charset="UTF-8">
    <title>MediaPage</title>
</head>
<body>
    <span th:text="${media.visible}"></span><br>
    <span th:text="${media.name}"></span><br>
    <span th:text="${media.typeMediaPojo.getName()}"></span><br>
    <span th:text="${#dates.format(media.released, 'dd-MM-yyyy')}"></span><br>
    <span th:text="${media.description}"></span><br>
    <span th:text="${media.url}"></span><br>
</table>

</body>
</html>