<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Media page</h1>

    <p>
        Description media
    </p>

    <video controls width="640" height="264">
        <source src="http://localhost:8181/playerzen/video/love.death.&.robots/S01/2" type="video/mp4">
    </video>
    <video controls width="640" height="264">
        <source src="http://localhost:8181/playerzen/video/love.death.&.robots/S01/3" type="video/mp4">
    </video>
</body>
</html>