<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
    <body>
        <div class="container">
            <h1>Смена пароля</h1>
            <hr/>
            <a th:href="@{~/kinozen/profile}" class="btn btn-primary btn-sm active" role="button">Редактировать профиль</a>
            <hr/>
            <form action="#" th:action="@{/profile/newPass}" th:object="${userDto}" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Новый пароль</label>
                        <input type="password" th:field="*{newPassword1}" class="form-control"/>
                        <small class="form-text text-muted" th:if="${#fields.hasErrors('newPassword1')}" th:errors="*{newPassword1}">Password1 Error</small>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Новый пароль еще раз</label>
                        <input type="password" th:field="*{newPassword2}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>Текущий пароль</label>
                    <input type="password" th:field="*{password}" class="form-control"/>
                    <small class="form-text text-muted" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                </div>
                <button type="submit" class="btn btn-primary">Сменить пароль</button>
            </form>
        </div>
    </body>
</html>