<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Профиль</title>
    <head th:replace="blocks/header.html :: head"></head>
</head>
<body class="custom_class">
<div id="__next">
    <div class="wrapper settings-page-wrapper">
        <div class="wrapper settings-page-wrapper">
            <head th:replace="blocks/header.html :: menu"></head>
            <div class="content ">
                <div class="settings">
                    <div class="settings__left padTop">
                        <div class="breadcrumbs">
                            <div class="breadcrumbs__item">
                                <a class="breadcrumbs__href" href="/kinozen">Главная</a>&nbsp;/&nbsp;
                            </div>
                            <div class="breadcrumbs__item">Настройки</div>
                        </div>
                        <h1>Настройки</h1>
                        <div class="settings__menu">
                            <div class="settings__menu-title active">
                                <div class="settings__menu-title_text">История просмотра</div>
                            </div>
                            <div class="settings__menu-title">
                                <div class="settings__menu-title_text">Аккаунт</div>
                            </div>
                        </div>
                    </div>
                    <div class="settings__right padTop">
                        <div class="settings__content">
                            <div th:each="historyRecord: ${history}">
                                <div class="my-history__titile" th:text="${historyRecord.getDate()}"></div>
                                <div class="my-history">
                                    <div class="my-history-card">
                                        <a class="card-item card-item-episodes">
                                            <div class="card-item__image">
                                                <img  class="card-item__image-img" th:src="@{'/image/content/' + ${historyRecord.content.imageName}}"
                                                     th:alt="${historyRecord.content.name}"/>
                                            </div>
                                            <div class="card-item__title"
                                                 th:text="${historyRecord.getContent().getName()}"></div>
                                            <div class="card-item__title-subtitle" th:text="${historyRecord.content.type.typeName}"></div>
                                        </a></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <head th:replace="blocks/footer.html :: footer"></head>
    </div>
</div>
</div>
<script th:src="@{/js/profile.js}"></script>
</body>
</html>