<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Registration</title>
    <head th:replace="blocks/header.html :: head"></head>
</head>

<body class="custom_class">
<div id="__next">
    <div class="registration" style="background-color: black;">
        <head th:replace="blocks/header_login_reg.html:: header_login_reg"></head>
        </a>
        <div class="registration__content">
            <div class="registration__content-title">Регистрация</div>
            <div class="registration__form-title">Зарегистрируйтесь для просмотра и загрузки фильмов и сериалов
            </div>
            <div class="registration__form">

                <div class="registration__form-content">
                    <form th:object="${userPojo}" th:action="@{/registration}">
                        <div class="registration__form-inputs">
                            <div class="registration__form-input_wrapper">
                                <input th:field="*{login}" type="text" name="login" class="registration__form-input"
                                       id="exampleInputLogin"
                                       aria-describedby="emailHelp" placeholder="Логин"/>
                              <!-- <small class="registration__form-error" th:if="${#fields.hasErrors('login')}"
                                       th:errors="*{login}">Login
                                    error</small>-->
                            </div>
                            <div class="registration__form-input_wrapper">
                                <input th:field="*{name}" type="text" name="name" class="registration__form-input"
                                       id="exampleInputName"
                                       aria-describedby="emailHelp" placeholder="Имя пользователя">
                                <!--  <small class="form-text text-muted" th:if="${#fields.hasErrors('name')}"
                                         th:errors="*{name}">Name error</small>-->
                            </div>
                            <div class="registration__form-input_wrapper">
                                <input th:field="*{email}" type="text" name="name" class="registration__form-input"
                                       id="exampleInputEmail"
                                       aria-describedby="emailHelp" placeholder="E-mail">
                                <!--  <small class="form-text text-muted" th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}">Email
                                      error</small>-->
                            </div>
                            <div class="registration__form-input_wrapper">
                                <input th:field="*{newPassword1}" type="text" name="name"
                                       class="registration__form-input"
                                       id="exampleInputPass1"
                                       aria-describedby="emailHelp" placeholder="Пароль">
                                <!-- <small class="form-text text-muted" th:if="${#fields.hasErrors('newPassword1')}"
                                        th:errors="*{newPassword1}">Password1
                                     Error</small>-->
                                <!--   <div class="registration__eye">
                                       <img src="" class="registration__eye-img"/>
                                </div>-->
                            </div>
                            <div class="registration__form-input_wrapper">
                                <input th:field="*{newPassword2}" type="text" name="name"
                                       class="registration__form-input"
                                       id="exampleInputPass2"
                                       aria-describedby="emailHelp" placeholder="Повторите пароль">
                                <!--  <div class="registration__eye">
                                      <img src="static/images/authorization/eye.svg" class="registration__eye-img"/>
                                  </div>-->
                            </div>
                        </div>
                        <div class="registration__form-rule">Не менее 6 символов</div>
                        <div class="registration__form-license">
                            <input type="checkbox" id="confirm_license"
                                   name="confirmLicense" class="registration__checkbox"/>
                            <label for="confirm_license">
                                      <span>Я
                                      согласен с условиями
                                         <a href="/terms-of-use">пользовательского соглашения</a> <!-- -->и даю свое
                                         <a href="/terms-of-use">согласие на обработку моих персональных
                                        данных</a>
                                    </span></label></div>
                        <button class="registration__form-button active ">Зарегистрироваться</button>
                    </form>
                    <div class="registration__no-account">Уже зарегистрированы?
                        <a class="registration__no-account_link" href="/kinozen/login.html">Войдите в
                            аккаунт</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="registration__shade"></div>
        <head th:replace="blocks/footer_login_reg.html :: footer_login_reg"></head>
    </div>
    <div></div>
</div>

<div id="portal-root" class="portal-root"></div>
</body>

</html>

</html>