<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <title>Поиск</title>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">

    <h1>Поиск</h1>

    <form th:action="@{/search/result}" method="GET">
        <div class="input-group">
            <input class="form-control" th:value="${param.name}" name="name" type="text"
                   placeholder="Название фильма"/>
        </div>
        <br>
        <button type="submit"  class="btn btn-warning">Применить</button>
        <a class="btn btn-warning" th:href="@{'/search'}" >Сбросить</a>
    </form>
    <br>
    <h3 >Список фильмов</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th> Название</th>
            <th> Описание</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="content : ${page.content}">
            <td>
                <a style="font-weight: bold" th:text="${content.name}" th:href="@{${'/content/'+ content.url}}"/>
            <td>
                <span th:text="${content.description}"/>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{'/contentEdit/' + ${content.id}}" class="btn btn-warning">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/search?p='+ ${page.previousOrFirstPageable().getPageNumber() + 1} + ${filtersDef}}" >Предыдущая</a>
            </li>
            <li class="page-item" th:classappend="${page.getNumber() + 1 == i ? 'active' : ''}"
                th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
                <a class="page-link" th:text="${i}" th:href="@{'/search?p=' + ${i} + ${filtersDef}}"></a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/search?p='+ ${page.nextOrLastPageable().getPageNumber() + 1} + ${filtersDef}}" >Следующая</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>