<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <title>Поиск</title>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">

    <h1>Поиск</h1>

    <form th:action="@{/search/results}" method="GET">
        <div class="input-group">
            <input class="form-control" th:value="${param.name}" name="name" type="text"
                   placeholder="Название фильма"/>
        </div>
        <br>
        <button type="submit"  class="btn btn-warning">Применить</button>
        <a class="btn btn-warning" th:href="@{'/search'}" >Сбросить</a>
    </form>
</div>

</body>
</html>