<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="RU">
<head>
    <meta charset="UTF-8">
    <title>Все сезоны</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s, iterator : ${seasons}">
        <td th:text="${s.id}"></td>
        <td>
            <a th:href="@{'/seasons/edit?id=' + ${s.id}}">[[ ${s.content.name} ]]. Сезон [[ ${s.numberSeason} ]]</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
</body>
</html>