<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Буду смотреть</title>
    <head th:replace="blocks/header.html :: head"></head>
</head>
<body class="custom_class">
<div id="__next">
    <div class="wrapper settings-page-wrapper">
        <div class="wrapper settings-page-wrapper">
            <head th:replace="blocks/header.html :: menu"></head>
            <div class="content ">
                <div class="settings">
                    <div class="settings__left padTop">
                        <div class="breadcrumbs">
                            <div class="breadcrumbs__item"><a class="breadcrumbs__href" href="/">Главная</a>&nbsp;/&nbsp;
                            </div>
                            <div class="breadcrumbs__item">Буду смотреть</div>
                        </div>
                        <h1>Буду смотерть</h1>
                    </div>
                    <div class="settings__right padTop">
                        <div class="catalogue__wrapper">
                            <a th:each="content, iterator : ${wishList}" class="card-item card-item-series"
                               th:href="@{'/content/' + ${content.url}}">
                                <div class="card-item__image" th:href="${content.getUrl()}">
                                    <div th:data-lazy="${content.visible}" class="card-item__image-img">
                                        <img th:src="@{images/c1fc9bf190bddab5840791e958526a73-10936-66a6e4e69f404d1a89fb2f6c67dc7187.jpg}"
                                             src="../static/images/c1fc9bf190bddab5840791e958526a73-10936-66a6e4e69f404d1a89fb2f6c67dc7187.jpg"
                                             th:alt="${content.name}"/>
                                    </div>
                                </div>
                                <div class="card-item__title" th:text="${content.name}"></div>
                            </a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <head th:replace="blocks/footer.html :: footer"></head>
        </div>
    </div>
</div>
<script src="js/js_2.js"></script>
</body>
</html>